body {
    background-color: #EEF9BF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
img {
    width: 100px;
    height: 100px;
}
.timer {
    display: flex;
    width: 80px;
    height: 50px;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    top: 90px;
    right: 10%;
    font-size: 50px;
    font-weight: 500;
    color: #75B79E;
    align-items: center;
    justify-content: flex-end;
    
    
}

.cobrejogo {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
}
.on{
    display:flex;
}
.topo {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top:40px;
}
.back {
    z-index: 10;
    display: flex;
    position: absolute;
    top: 24px;
    left: 7px;
    
}
.flipada {
    transform: rotateY(180deg);
    
}

.parrot {
    display: none;
    z-index: 10;
}
.jogo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    height: auto;
    margin-top: 47px;
    box-sizing: border-box;
    
}
.sumiu {
    display: none;
}
.cartas {
    display: flex;
    width: 117px;
    height: 146px;
    flex-wrap: wrap;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: solid 1px #99CEA8;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 34px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    transition: all 500ms ease;
    
    
}
.display {
    display: flex;
}
.titulo {
    margin-right: 18px;
}

@media (max-width: 652px) {
    .topo {
        font-size: 36px;
        
    }
    .jogo {
        padding-left: 15px;
        padding-right: 0px;
    }
    .timer {
        top: 72px
    }
    @media (max-width: 384px) {
        .timer{
            top: 108px;
            right: 33px;
        }
    }
}